.default-color0.chart-bar{
    -fx-bar-fill: #e2c0c1
}

.default-color1.chart-bar{
    -fx-bar-fill: #5284b2
}

.default-color2.chart-bar{
    -fx-bar-fill: #e2c0c1
}

.default-color3.chart-bar{
    -fx-bar-fill: #5284b2
}
