/*
 * Empty Stylesheet file.
 */

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .4px .4px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#fb3d63;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);

}

.nav-btn{
    -fx-background-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);  
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-alignment:CENTER-LEFT;
}

.nav-btn:hover{
    -fx-background-color:linear-gradient(to bottom right, #133075, #6e6e96);  
}

.logout{
    -fx-background-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);  
    -fx-background-radius:10px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:linear-gradient(to bottom right, #133075, #6e6e96);  
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}

.words{
        -fx-text-fill:white;
}

.card{  
    -fx-background-color:linear-gradient(to right, #2c4277, #a4a4cc);
    -fx-background-radius:4px;
}

.search{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);
    -fx-border-width:.8px;
    -fx-border-radius:8px;
    -fx-font-family:"Tahoma";
    -fx-font-size:14px;
    -fx-padding:0px 0px 0px 28px;
}

.search:focused{
    -fx-border-width:1.8px;
}

.table-view{
    -fx-background-color:transparent;
    -fx-padding:0px;
    -fx-border-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);
    -fx-border-width:2px;
    -fx-border-radius:8px;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);
    -fx-background-radius:8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}
.table-view .column-header, .filter{
    -fx-background-color:transparent;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
}

.textfield{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);
    -fx-border-width:.8px;
    -fx-border-radius:8px;
    -fx-font-family:"Tahoma";
    -fx-font-size:14px;
    -fx-padding:0px 0px 0px 28px;
}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-width:1.8px;
}

.label-info{
    -fx-background-color:#fff;
    -fx-background-radius:4px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
    -fx-padding:0px 0px 0px 5px;
}

.add-btn{
    -fx-background-color:#2d5278;
    -fx-background-radius:8px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
}
.add-btn:hover{
    -fx-background-color:#2268ae;
}

/*Código nuevo*/
.chartNav-Bar{
    -fx-background-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);   
}

.chart-Button{
    -fx-background-color:linear-gradient(to bottom right, #2c4277, #a4a4cc);   
    -fx-cursor:hand;

}

.chart-Button:hover{
    -fx-background-color:linear-gradient(to bottom right, #133075, #6e6e96);  
}

/*BOTONES CARRERAS*/

/*Botón Diseño industrial*/
.IDIN-Button{
    -fx-background-color:linear-gradient(to bottom right, #364774, #607CC8);   
    -fx-cursor:hand;
}

/*Botón Administración*/
.ADM-Button{
    -fx-background-color:linear-gradient(to bottom right, #4B30A3, #6D74E5);   
    -fx-cursor:hand;
}

/*Botón Sistemas*/
.ISC-Button{
    -fx-background-color:linear-gradient(to bottom right, #5284B2, #96DEFA);   
    -fx-cursor:hand;
}

/*Botón Informática*/
.IINF-Button{
    -fx-background-color:linear-gradient(to bottom right, #1F7C46, #33D577);;   
    -fx-cursor:hand;
}

/*Botón Ingeniería industrial*/
.IIND-Button{
    -fx-background-color:linear-gradient(to bottom right, #DCCE3C, #FFF45D);;   
    -fx-cursor:hand;
}

/*Botón Gestión empresarial*/
.IGE-Button{
    -fx-background-color:linear-gradient(to bottom right, #D1693E, #FF933E);   
    -fx-cursor:hand;
}

/*Botón Arquitectura*/
.ARQ-Button{
    -fx-background-color:linear-gradient(to bottom right, #972D2A, #FF4A47);;   
    -fx-cursor:hand;
}

/*ETIQUETAS CARRERAS*/

/*Etiqueta Diseño industrial*/
.IDIN-Lable{
    -fx-background-color:linear-gradient(to bottom right, #364774, #607CC8);   
    -fx-background-radius:10px;
}

/*Etiqueta Administración*/
.ADM-Lable{
    -fx-background-color:linear-gradient(to bottom right, #4B30A3, #6D74E5);   
    -fx-background-radius:10px;
}

/*Etiqueta Sistemas*/
.ISC-Lable{
    -fx-background-color:linear-gradient(to bottom right, #5284B2, #96DEFA);   
    -fx-background-radius:10px;
}

/*Etiqueta Informática*/
.IINF-Lable{
    -fx-background-color:linear-gradient(to bottom right, #1F7C46, #33D577);;   
    -fx-background-radius:10px;
}

/*Etiqueta Ingeniería industrial*/
.IIND-Lable{
    -fx-background-color:linear-gradient(to bottom right, #DCCE3C, #FFF45D);;   
    -fx-background-radius:10px;
}

/*Etiqueta Gestión empresarial*/
.IGE-Lable{
    -fx-background-color:linear-gradient(to bottom right, #D1693E, #FF933E);   
    -fx-background-radius:10px;
}

/*Etiqueta Arquitectura*/
.ARQ-Lable{
    -fx-background-color:linear-gradient(to bottom right, #972D2A, #FF4A47);;   
    -fx-background-radius:10px;
}


/*  -------- ALUMNOS --------*/
/*        public ObservableList<studentData> addStudentsListData() {

        ObservableList<studentData> listStudents = FXCollections.observableArrayList();

        String sql = "SELECT * FROM historial";

        connect = database.connectDb();

        try {
            studentData studentD;
            prepare = connect.prepareStatement(sql);
            result = prepare.executeQuery();

            while (result.next()) {
                studentD = new studentData(result.getString("noControl"),
                        LocalTime.parse(result.getString("horaEntrada")),
                        result.getDate("fechaEntrada"));
                                                
                listStudents.add(studentD);
            }

        } catch (Exception e) {
            e.printStackTrace();
        }
        return listStudents;
    }
    
    private ObservableList<studentData> addStudentsListD;
    
    public void addStudentsShowListData() {
        addStudentsListD = addStudentsListData();

        addStudents_col_noControl.setCellValueFactory(new PropertyValueFactory<>("noControl"));
        addStudents_col_horaEntrada.setCellValueFactory(new PropertyValueFactory<>("horaEntrada"));
        addStudents_col_fechaEntrada.setCellValueFactory(new PropertyValueFactory<>("fechaEntrada"));

        addStudents_tableView.setItems(addStudentsListD);
    }
*/









