.default-color0.chart-series-line{
    -fx-stroke: #5284b2
}
.default-color0.chart-line-symbol{
    -fx-background-color: #5284b2, #ffffff
}

.default-color1.chart-series-line{
    -fx-stroke: #5284b2
}
.default-color1.chart-line-symbol{
    -fx-background-color: #5284b2, #ffffff
}

